html,
body,
#root {
    height: 300px;
    width: 700px;
    margin: 0;
}

div {
    height: 100px;
    width: 100px;
    background: #daa520;
    border-radius: 50%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

div:nth-child(3) {
    margin-top: 200px;
}

div:nth-child(even) {
    align-self: center;
}
